In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sklearn
import xgboost as xgb

In [2]:
data = pd.read_csv('startUp.csv')
data.drop('Unnamed: 0', axis = 1, inplace = True)
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [18]:
data.to_csv('startUp.csv')

In [3]:
ds = data.drop('State', axis = 1)
df = ds.copy()

In [4]:
from sklearn.preprocessing import StandardScaler
import joblib

scalers = {}

for i in df.drop ('Profit', axis = 1).columns:
    scaler = StandardScaler()
    df[i] = scaler.fit_transform(df[[i]])
    scalers[i+'_scaler'] = scaler
    joblib.dump(scaler, open(f'{i}_scaler.pkl', 'wb'))

df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0   2.016411        0.560753         2.153943  192261.83
1   1.955860        1.082807         1.923600  191792.06
2   1.754364       -0.728257         1.626528  191050.39
3   1.554784       -0.096365         1.422210  182901.99
4   1.504937       -1.079919         1.281528  166187.94

In [29]:
x = df.drop('Profit', axis = 1)
y = df.Profit

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 56)

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
linreg = LinearRegression()

linreg.fit(xtrain, ytrain)
cv = linreg.predict(xtrain)

print(f'Cross Validation Score: {r2_score(cv, ytrain).round(2)}')

Cross Validation Score: 0.95

In [31]:
pred = linreg.predict(xtest)
print(f'Test Prediction Score: {r2_score(pred, ytest).round(2)}')

Test Prediction Score: 0.95

In [33]:
joblib.dump(linreg, open('startUpModel.pkl', 'wb'))